@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;700&display=swap');

:root {
    --var0: #EDF1F5;
    --var1: #CED5F3;
    --var2: #74B4F3;
    --var3: #3DB4F2;
    --var4: #2B2D42;
    --fonte-padrao: 'Poppins', sans-serif;
    --font-destaque: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--fonte-padrao);
    font-size: 1.8rem;
    line-height: 1.4;
    color: #2B2D42;
    background-color: var(--var0);
}

h1,
h2 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--var0);
}

img {
    display: block;
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--var4);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.logo {
    width: 60vw;
}

.logo img {
    width: 65px;
}

.navbar {
    width: 35vw;
    display: flex;
    justify-content: flex-end;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem;
    border-radius: 5px;
    transition: 0.2s ease-out;
}

.nav-list a:hover {
    background-color: var(--var0);
    color: var(--var4);
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
    height: 100vh;
    background-color: var(--var1);
}

.title {
    font-size: 6rem;
}

.subtitle {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
}

#projects {
    text-align: center;
    padding: 10rem 2rem;
    background-color: #F2E9CE;
}

#projects h2 {
    max-width: 640px;
    border-bottom: 2px solid var(--var4);
    margin: 0 auto 6rem auto;
    font-weight: bolder;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin-bottom: 6rem;
}

.grid-image {
    width: 100%;
    height: calc(100% - 5rem);
    object-fit: cover;
}

.grid-title {
    font-size: 2rem;
    padding: 1.5rem 0.5rem;
    background-color: var(--var4);
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.code {
    color: var(--var4);
    transition: color 0.2s ease-out;
}

.grid-link:hover .code {
    color: #cab885;
}

.btn-link {
    display: inline-block;
    font-size: 2.2rem;
    margin: 2rem auto 0 auto;
    color: var(--var0);
    background-color: var(--var4);
    padding: 1rem 2rem;
    border-radius: 2px;
    transition: background 0.2s ease-out;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-link:hover {
    background-color: #8B7CA6;
}

.btn i {
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

.btn-link:hover .btn i {
    transform: translateX(3px);
}

#contact {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 0 2rem;
    background-color: #C4B7DF;
}

#contact p {
    font-style: italic;
    font-weight: 300;
}

#contact-links {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    max-width: 980px;
    width: 100%;
    flex-wrap: wrap;
}

#contact-links .btn-profile {
    color: var(--var4);
    font-size: 2.5rem;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(0);
    transition: transform 0.3s ease-out;
}

.btn-profile {
    display: inline-block;
    font-size: 2rem;
    padding: 1rem 2rem;
}

#contact-links a:hover {
    transform: translateY(8px);
}

#footer {
    text-align: center;
    color: var(--var0);
    background-color: var(--var4);
    padding: 1.5rem;
}

#footer a:hover {
    color: #dddddd;
}

@media screen and (max-width: 400px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }

    .grid-title {
        padding: 1rem 0.5rem;
    }
}